<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfMaiTouchEmulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfMaiTouchEmulator.Properties.Settings>
            <setting name="IsDebugEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsAutomaticPositioningEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsAutomaticPortConnectingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsExitWithSinmaiEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserLanguage" serializeAs="String">
                <value />
            </setting>
        </WpfMaiTouchEmulator.Properties.Settings>
    </userSettings>
</configuration>